/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
::-webkit-scrollbar {
  width: 12px;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
}

/* hide scrollbar buttons */
::-webkit-scrollbar-button {
  display:none;
}

/* hide "Open in iTunes" button */
.web-navigation__native-upsell {
  display: none;
}
/* no scrollbar in menu area */
div {
  overflow: hidden;
}

div.web-navigation__scrollable {
  overflow: auto;
}

div.loading-inner {
  overflow: auto;
}

footer.dt-footer {
  display: none;
}
